<div>
  <h1>Check Weather</h1>

  <%= render 'form', form: @form %>

  <% if @weather_data %>
    <div>
      <h2>Current Weather in <%= @form.city %></h2>
      <div>
        <p>Temperature is <%= @weather_data[:temp] %> °F. </p>
        <p><%= @weather_data[:description].titleize %>. Feels like <%= @weather_data[:feels_like] %> °F.</p>
      </div>
    </div>
  <% end %>
</div>
